.main {
  &__main-block {
    margin-bottom: 60px;
  }

  &__featured {
    margin-bottom: 80px;
  }

  &__sociall{
    margin-bottom: 60px;
  }

  &__news {
    margin-bottom: 60px;
  }

  &__vodeo {
    margin-bottom: 60px;
  }

  &__lifestyle {
    margin-bottom: 135px;
  }
}

.main-block {
  &__main-post {}
}

.main-post {
  &>div:not(:last-child) {
    margin-bottom: 20px;
  }

  &__poster {
    position: relative;
    padding: 0 0 69% 0;
  }

  &__content {
    position: absolute;
    bottom: 5%;
  }

  &__tag {
    position: relative;
    display: inline-block;
    min-width: 20%;
    padding: 5px 55px;
    text-align: center;
    margin: 0 0 30px 0;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(30/20);
    text-transform: uppercase;
    color: #13120D;

    @media (max-width: 767px) {
      @include adaptiv-font(20, 13);
    }
  
    & div {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      border-top: 2.1em solid #FADA2B;
      border-right: 10px solid transparent;
    }
  
    & span {
      position: relative;
      z-index: 2;
    }
  }

  &__title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: calc(59/40);
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #FADA2B;
    position: relative;
    z-index: 2;
    padding: 0 40px;
    width: 70%;

    @media (max-width: 767px) {
      @include adaptiv-font(40, 15);
      width: 100%;
      padding: 0 20px;
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  
    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  &__category {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FADA2B;
  }

  &__text {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #13120D;
  }

  &__meta {
    display: flex;
    align-items: center;
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #13120d7c;
  
    &>div:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__author {}

  &__separator {
    width: 2px;
    height: 2px;
    background: #13120d7c;
    border-radius: 50%;
  }

  &__time {}
}

.block-posts {
  &__title {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 47px;
    letter-spacing: -0.01em;
    color: #13120D;
    margin-bottom: 30px;
  }

  &__main-post {
    margin-bottom: 40px;
  }

  &__post-list {
    margin-bottom: 80px;
  }

  &__button-more {}
}

.post-list {
  &__post-single {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

.post-single {
  display: flex;
  gap: 40px;

  @media (max-width: 767px) {
    gap: 10px;
    flex-wrap: wrap;
  }

  &__img {
    position: relative;
    flex: 0 0 45%;
    min-height: 266px;

    @media (max-width: 767px) {
      flex: 0 0 100%;
      padding: 0 0 69% 0;
    }
  
    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  &__content {
    padding: 22px 0 0 0;
  }

  &__category {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FADA2B;
    margin-bottom: 10px;
  }

  &__title {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #13120D;
    margin-bottom: 10px;
  }

  &__text {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #13120D;
    margin-bottom: 20px;
  }

  &__meta {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #13120d7c;
    display: flex;
    align-items: center;
  
    &>div:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__author {}

  &__separator {
    width: 2px;
    height: 2px;
    background: #13120d7c;
    border-radius: 50%;
  }

  &__time {}
}

.button-more {
  display: flex;
  justify-content: center;
  align-items: center;

  & a {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #13120D;
    border: 1px solid #13120D;
    border-radius: 50px;
    padding: 8px 18px;
  }
}

.social-main {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 30px 80px 30px 55px;
  background: rgba(250, 218, 43, 0.15);
  border-radius: 5px;

  @media (max-width: 575px) {
    flex-direction: column;
    gap: 50px;
    padding: 30px 50px 30px 50px;
  }

  &__column {}

  &__title {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #13120D;
    margin-bottom: 15px;
  }

  &__text {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #13120D;
    opacity: 0.7;

    & p:not(:last-child) {
      margin: 0 0 4px 0;
    }
  }

  &__link {
    display: flex;
    gap: 35px;

    @media (max-width: 1023px) {
      flex-direction: column;
    }

    @media (max-width: 575px) {
      flex-direction: row;
    }

  }
}

.post-list-grid {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-gap: 40px;

  @media (max-width: 767px) {
    grid-template: auto / 1fr;
  }


  &__post-grid {
  }
}

.post-grid {
  position: relative;

  &__img {
    position: relative;
    padding: 0 0 70% 0;
    overflow: hidden;

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__tag {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -25px;

    & div {
      position: absolute;
      width: 136px;
      height: 40px;
      background: #FADA2B;
      transform: skew(-15deg);
      
    }

    & span {
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      text-align: center;
      text-transform: uppercase;
      color: #F7F6F4;
      z-index: 2;
    }
  }

  &__content {
    position: relative;
    padding: 30px 35px;
    top: -25px;

    &>*:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__title {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: #13120D;
  }

  &__time {
    font-family: 'Sen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #13120da2;
  }
}