.page {
  flex: 1 1 auto;
  padding: 225px 0 0 0;

  &__container {
    display: flex;
    column-gap: 40px;

    @media (max-width: 1023px) {
      flex-direction: column;
    }
    
  }

  &__column {

    &:first-child {
      flex: 0 0 66%;
    }

  }

}